# blacklist all
*

# git
!.gitignore
!.gitconfig

# editors
!.emacs
!.nanorc
!.vimrc

# shells
!.zshrc
!.bashrc
!.bash_profile
!.bash_logout

# Xmodmap
!.Xmodmap

# nb
!.nbrc

# .config
!.config/
.config/*

# hyprland
!.config/hypr/
!.config/hypr/*
!.config/hypr/**

