# blacklist all
*

# git
!.gitignore
!.gitconfig

# editors
!.emacs
!.nanorc
!.vimrc

# shells
!.zshrc
!.bashrc
!.bash_profile
!.bash_logout

# Xmodmap
!.Xmodmap

# nb
!.nbrc

# .config
!.config/
.config/*

# alacritty
!.config/alacritty/
!.config/alacritty/**

# bspwm (archcraft)
!.config/bspwm/
!.config/bspwm/**

# dunst
!.config/dunst/
!.config/dunst/**

# rofi
!.config/rofi/
!.config/rofi/**

# waybar
!.config/waybar/
!.config/waybar/**

# hyprland
!.config/hypr/
!.config/hypr/**


