# blacklist all
*

# git
!.gitignore
!.gitconfig

# editors
!.emacs
!.nanorc
!.vimrc

# shells
!.zshrc
!.bashrc
!.bash_profile
!.bash_logout

# Xmodmap
!.Xmodmap

# nb
!.nbrc

# .config
!.config/
.config/*

# alacritty
!.config/alacritty/
!.config/alacritty/**

# bspwm (archcraft)
!.config/bspwm/
!.config/bspwm/**

# dunst
!.config/dunst/
!.config/dunst/**

# hyprland
!.config/hypr/
!.config/hypr/**

# rofi
!.config/rofi/
!.config/rofi/**

# waybar
!.config/waybar/
!.config/waybar/**

# wlogout
!.config/wlogout/
!.config/wlogout/**

# emacs directory
!.emacs.d/
.emacs.d/*
!.emacs.d/themes/
!.emacs.d/themes/**
!.emacs.d/scripts/
!.emacs.d/scripts/**

# icons
!.icons/
!.icons/**

# local
!.local/
.local/*
!.local/share/
.local/share/*

# backgrounds
!.local/share/backgrounds/
!.local/share/backgrounds/**