/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: 'JetBrains Mono';
}

.genwin {
	background-color: rgb(24, 24, 37, 0.75);
	border-radius: 16px;
}


/** Time ***************************************/
.time_hour, .time_min {
	color: #89B4FA;
	font-size : 70px;
	font-weight : bold;
}
.time_hour {
	margin : 15px 0px 0px 20px;
}
.time_min {
	margin : 0px 0px 10px 0px;
}

.time_mer {
	color: #A6E3A1;
	font-size : 30px;
	font-weight : bold;
	margin : 20px 20px 0px 0px;
}

.time_day {
	color: #FAB387;
	font-size : 25px;
	font-weight : normal;
	margin : 0px 20px 20px -20px;
}


/** Weather ***************************************/
.iconweather {
	font-family: Iosevka Nerd Font;
	font-size : 100px;
	font-weight : normal;
	margin : 15px 0px 0px 30px;
}

.label_temp {
	color : #89DCEB;
	font-size : 60px;
	font-weight : bold;
	margin : 15px 30px 0px 0px;
}

.label_stat {
	color : #F38BA8;
	font-size : 30px;
	font-weight : bold;
}

.label_quote {
	color : #cdd6f4;
	font-size : 14px;
	font-weight : normal;
}


/** Todo ***************************************/

.tasks {
	padding: 10px 20px;
}

.status {
	font-size: 13px;
}

.status.todo {
	color: #e45649
}

.status.planning {
	color: #e261cd;
}

.status.progress {
	color: #3aa2e8;
}

.status.blocked {
	color: #a80d15;
}

.status.waiting {
	color: #b479f7;
}

.status.done {
	color: #23c436;
}

.status.wont {
	color: #7f849c;
}

.urgent {
	color: #9b0a12;	
}

.high {
	color: #c9431e;
}

.low {
	color: #088d17;
}

.bluesky {
	color: #0076c5;
}


.title {
	color: #cdd6f4;
	font-size: 13px;
}

.title.done {
	color: #A6E3A1;
}

.tags {
	color: #7f849c;
	font-style: italic;
	font-size: 12px;
}

.tags.done {
	color: #A6E3A1;
}

.priority.done {
	color: transparent;
}

/** System ********************************************/
.iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 25px;
	font-weight : normal;
	font-family: feather;
}
.iconcpu {
	color: #F38BA8;
}
.iconmem {
	color: #A6E3A1;
}
.iconbright {
	color: #E5C890;
}
.iconbat {
	color: #89DCEB;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	all: unset;
	background-color: #3A404C;
	border-radius: 16px;
	min-height: 20px;
	min-width: 240px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.cpu_bar scale trough highlight {
	background-color: #F38BA8;
}
.mem_bar scale trough highlight {
	background-color: #A6E3A1;
}
.bright_bar scale trough highlight {
	background-color: #E5C890;
}
.bat_bar scale trough highlight {
	background-color: #89DCEB;
}
