/** Variables *******************************************/
$foreground: #cdd6f4;
$background: rgb(24, 24, 37, 0.75);
$red:        #F38BA8;
$green:      #A6E3A1;
$blue:       #89B4FA;
$yellow:     #E5C890;
$teal:       #89DCEB;
$orange:     #FAB387;
$purple:     #CBA6F7;
$pink:       #f5c2e7;
$dk-gray:    #3A404C;
$lt-gray:    #7f849c;

/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: 'JetBrains Mono';
}

.genwin {
	background-color: $background;
	border-radius: 16px;
}


/** Time ***************************************/
.time_hour, .time_min {
	color: $blue;
	font-size : 70px;
	font-weight : bold;
}
.time_hour {
	margin : 15px 0px 0px 20px;
}
.time_min {
	margin : 0px 0px 10px 0px;
}

.time_mer {
	color: $green;
	font-size : 30px;
	font-weight : bold;
	margin : 20px 20px 0px 0px;
}

.time_day {
	color: $orange;
	font-size : 25px;
	font-weight : normal;
	margin : 0px 20px 20px -20px;
}


/** Weather ***************************************/
.iconweather {
	font-family: Iosevka Nerd Font;
	font-size : 100px;
	font-weight : normal;
	margin : 15px 0px 0px 30px;
}

.label_temp {
	color : $teal;
	font-size : 60px;
	font-weight : bold;
	margin : 15px 30px 0px 0px;
}

.label_stat {
	color : $red;
	font-size : 30px;
	font-weight : bold;
}

.label_quote {
	color : $foreground;
	font-size : 14px;
	font-weight : normal;
}


/** Todo ***************************************/

.tasks {
	padding: 10px 20px;
}

.status {
	font-size: 13px;
	font-weight: 700;
}

.status.todo {
	color: $red;
}

.status.planning {
	color: $pink;
}

.status.progress {
	color: $blue;
}

.status.blocked {
	color: $orange;
}

.status.waiting {
	color: $purple;
}

.status.done {
	color: $green;
}

.status.wont {
	color: $lt-gray;
}

.urgent {
	color: $red;	
}

.high {
	color: $orange;
}

.low {
	color: $green;
}

.bluesky {
	color: $blue;
}


.title {
	color: $foreground;
	font-size: 13px;
}

.title.done {
	color: $green;
}

.tags {
	color: $lt-gray;
	font-style: italic;
	font-size: 12px;
}

.tags.done {
	color: $green;
}

.priority.done {
	color: transparent;
}

/** System ********************************************/
.iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 22px;
	font-weight : normal;
	font-family: feather;
}
.iconcpu {
	color: $red;
}
.iconmem {
	color: $green;
}
.iconbright {
	color: $yellow;
}
.iconbat {
	color: $teal;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	all: unset;
	background-color: $dk-gray;
	border-radius: 16px;
	min-height: 8px;
	min-width: 240px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.cpu_bar scale trough highlight {
	background-color: $red;
}
.mem_bar scale trough highlight {
	background-color: $green;
}
.bright_bar scale trough highlight {
	background-color: $yellow;
}
.bat_bar scale trough highlight {
	background-color: $teal;
}
