* {
    background-image: none;
}
window {
    background-color: rgba(0, 0, 0, 0.6);
}
button {
    color: green;
    font-size: 16px;
    background-color: #e7e7ec;
    border-style: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    border-radius:10px;
    margin: 40px 10px;
    text-shadow: 0px 0px;
    box-shadow: 0px 0px;
}

button:focus, button:active, button:hover {
    background-color: #A77CBF;
    outline: none;
}

#logout {
    background-image: url("/home/mateidragony/.icons/wlogout/dark/logout.svg");
}

#lock {
    background-image: url("/home/mateidragony/.icons/wlogout/dark/lock.svg");
}

#shutdown {
    background-image: url("/home/mateidragony/.icons/wlogout/dark/shutdown.svg");
}

#reboot {
    background-image: url("/home/mateidragony/.icons/wlogout/dark/restart.svg");
}

#suspend {
    background-image: url("/home/mateidragony/.icons/wlogout/dark/sleep.svg");
}

#hibernate {    
    background-image: url("/home/mateidragony/.icons/wlogout/dark/hibernate.svg");
}



/* #logout:hover, #logout:active, #logout:focus { */
/*     background-image: url("/home/mateidragony/.icons/wlogout/light/logout.svg"); */
/* } */

/* #lock:hover, #lock:active, #lock:focus { */
/*     background-image: url("/home/mateidragony/.icons/wlogout/light/lock.svg"); */
/* } */

/* #shutdown:hover, #shutdown:active, #shutdown:focus { */
/*     background-image: url("/home/mateidragony/.icons/wlogout/light/shutdown.svg"); */
/* } */

/* #reboot:hover, #reboot:active, #reboot:focus { */
/*     background-image: url("/home/mateidragony/.icons/wlogout/light/restart.svg"); */
/* } */

/* #suspend:hover, #suspend:active, #suspend:focus { */
/*     background-image: url("/home/mateidragony/.icons/wlogout/light/sleep.svg"); */
/* } */

/* #hibernate:hover, #hibernate:active, #hibernate:focus {     */
/*     background-image: url("/home/mateidragony/.icons/wlogout/light/hibernate.svg"); */
/* } */
